
.navbar {
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 110
    
  }
  

  .avbar a.right {
    float: right;
  }
  
  
  .row {
    display: -ms-flexbox;
    display: flex;
  }
  
  .side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  
  #sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.5s ease;
    animation: smoothScroll 1s forwards;
  }
  
  
  @keyframes smoothScroll {
    0% {
      transform: translateY(-142px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }

